[submodule "MIDI.js"]
	path = MIDI.js
	url = https://github.com/mudcube/MIDI.js.git
	branch = master
[submodule "midi-js-soundfonts"]
	path = midi-js-soundfonts
	url = git@github.com:gleitz/midi-js-soundfonts.git
